@mixin flex($dir: 1) {
	display: flex;
	@if $dir == 1 {
		flex-direction: row;
	} @else if $dir == 2 {
		flex-direction: column;
	} @else {
		flex-direction: $dir;
	}
}

.flex {
	@include flex();
}
